*,*:before,*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;
}

body {
    background: rgb(213,17,83);
    background: linear-gradient(54deg, rgba(213,17,83,1) 0%, rgba(229,32,114,1) 39%, rgba(121,38,133,1) 64%, rgba(47,52,140,1) 100%);
    overflow-x: hidden;
}
#header-1 {
    height: 70vh;
}                     
#headerContainer {
    display: flex;
}
.titrePage {
    margin-top: 10%;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 4em;
    text-transform: uppercase;
}
#logoContainer {
    position: fixed;
    top: 1em;
    left: 1em;
    width: 7em;
    height: 7em;
    border-radius: 50%;
    cursor: pointer;
  }
  #logo{
    z-index: 99;
  }
  #logoContainer img {
  transition: .2s;
    width: 100%;
}
#logoContainer img:hover {
  scale: 1.2 1.2;
}
#nav-1 ul li {
    list-style: none;
}
#nav-1 ul{
  position: absolute;
  top: 1em;
  right: 1em;
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  width: 1000px;
  gap: 40px;
  z-index: 3;
}
#nav-1 ul li a {
    color: white;
    text-decoration: none;
    transition-timing-function: linear;
    transition: .2s;
    font-size: 1.3em;
    border: none;
}
#nav-1 {
    position: absolute;
    right: 0;
    width: 50%;
}

#arrowBottom {
  transform: rotate(90deg);
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 20vh;
}

#robin_pp {
  margin-top: 30vh;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 15%;
}


.animationCool_1 {
  display: flex;
  justify-content: center;
  gap: 5%;
  flex-direction: row;
}
.animationCool_2 {
  display: flex;
  justify-content: center;
  gap: 5%;
  flex-direction: row-reverse;
}


.container-propos {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}
.propos {
  width: 100%;
  position: relative;
}
.concept {
  margin-bottom: 15%;
}
.pAPropos {
  max-width: 40%;
  text-align: left;
}
.container-concept {
  margin-top: 10vh;
}
#footerContainer-0 {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  font-size: 2em;
  margin-right: 5%;
}
#footerContainer-0 a:hover {
  scale: 1.2 1.2;
  transform: rotate(20deg);
  transition: .1s;
  transition-timing-function: linear;
}
#footerContainer-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 5%;
}

.teamTitle {
  margin-bottom: 5%;
}
#containerPhoto {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 5%;
}

.card {
  width: 250px;
  height: 250px;
  margin-bottom: 5%;
}
.robin_card {
  width: 300px;
  height: 300px;
}
.card img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border: 4px solid #2F348C;
  border-radius: 8px;
}
.card .content p {
  padding: 5%;
  max-width: 15em;
}


#videos{
    padding-bottom: 15%;
}
#containerVideo{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    gap: 5%;
}
#video1 {
    padding: .1%;
    height: 370px;
    width: 470px;
    background: rgb(0,82,87);
    background: linear-gradient(0deg, #2F348C 0%, rgba(0,215,255,1) 100%);
}
#video1 iframe {
    width: 98%;
    height: 98%;
}
.shortYtb {
    padding-top: 5px;
    height: 370px;
    width: 260px;
    background: rgb(87,0,85);
    background: linear-gradient(0deg, rgba(87,0,85,1) 0%, rgba(208,4,207,1) 100%);
}
#short1 {
    margin-bottom: 5%;
    margin-top: 5%;
}
#short2 {
    margin-bottom: 5%;
    margin-top: 5%;
}
.videoDescription {
  margin-top: 15px;
}

footer {
    width: 100%;
    background-color: rgba(255, 255, 255, .1);
    backdrop-filter: blur(10px);
    padding: 50px;
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
    
        

/* Les animatons */

@keyframes square-animation {
    0% {
     left: 0;
     top: 0;
    }
   
    10.5% {
     left: 0;
     top: 0;
    }
   
    12.5% {
     left: 32px;
     top: 0;
    }
   
    23% {
     left: 32px;
     top: 0;
    }
   
    25% {
     left: 64px;
     top: 0;
    }
   
    35.5% {
     left: 64px;
     top: 0;
    }
   
    37.5% {
     left: 64px;
     top: 32px;
    }
   
    48% {
     left: 64px;
     top: 32px;
    }
   
    50% {
     left: 32px;
     top: 32px;
    }
   
    60.5% {
     left: 32px;
     top: 32px;
    }
   
    62.5% {
     left: 32px;
     top: 64px;
    }
   
    73% {
     left: 32px;
     top: 64px;
    }
   
    75% {
     left: 0;
     top: 64px;
    }
   
    85.5% {
     left: 0;
     top: 64px;
    }
   
    87.5% {
     left: 0;
     top: 32px;
    }
   
    98% {
     left: 0;
     top: 32px;
    }
   
    100% {
     left: 0;
     top: 0;
    }
   }
   
   .loader {
    position: relative;
    width: 96px;
    height: 96px;
    transform: rotate(45deg);
   }
   
   .loader-square {
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
    margin: 2px;
    border-radius: 0px;
    background: white;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    animation: square-animation 10s ease-in-out infinite both;
   }
   
   .loader-square:nth-of-type(0) {
    animation-delay: 0s;
   }
   
   .loader-square:nth-of-type(1) {
    animation-delay: -1.4285714286s;
   }
   
   .loader-square:nth-of-type(2) {
    animation-delay: -2.8571428571s;
    background-color: #2F348C;;
   }
   
   .loader-square:nth-of-type(3) {
    animation-delay: -4.2857142857s;
   }
   
   .loader-square:nth-of-type(4) {
    animation-delay: -5.7142857143s;
   }
   
   .loader-square:nth-of-type(5) {
    animation-delay: -7.1428571429s;
   }
   
   .loader-square:nth-of-type(6) {
    animation-delay: -8.5714285714s;
    background-color: #2F348C;
   }
   
   .loader-square:nth-of-type(7) {
    animation-delay: -10s;
   }

   /* La pp de Robin */

   @property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }
  
  :root {
    --card-height: 10em;
    --card-width: 10em;
  }
  
  #ppRobin {
    border-radius: 50%;
    height: 9em;
    width: 9em;
  }

  
  .cardPP {
    background: #191c29;
    width: var(--card-width);
    height: var(--card-height);
    padding: 3px;
    position: relative;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 1.5em;
    color: rgb(88 199 250 / 0%);
    font-family: cursive;
    border-radius: 50%;
  }
  
  
  .cardPP::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(
      var(--rotate)
      , rgba(213,17,83,1), rgba(229,32,114,1) 43%, rgba(47,52,140,1));
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 2.5s linear infinite;
      border-radius: 50%;
    }
    
    .cardPP::after {
      position: absolute;
      content: "";
      top: calc(var(--card-height) / 6);
      left: 0;
      right: 0;
      z-index: -1;
      height: 100%;
      width: 100%;
      margin: 0 auto;
      transform: scale(0.8);
      filter: blur(calc(var(--card-height) / 6));
      background-image: linear-gradient(
        var(--rotate)
      , rgba(213,17,83,1), rgba(229,32,114,1) 43%, rgba(121,38,133,1));
      opacity: 1;
      transition: opacity .5s;
      animation: spin 2.5s linear infinite;
      border-radius: 50%;
  }
  
  @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }
  
  a {
    color: #212534;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 2rem;
  }

  


/* Bouton pour descendre au à propos */


.btn-conteiner {
    display: flex;
    justify-content: center;
    --color-text: #2F348C;
    --color-background: #353535;
    --color-outline: #9ee5fa80;
    --color-shadow: #00000080;
    transform: scale(1.2);
  }
  
  .btn-content {
    display: flex;
    align-items: center;
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 200px;
    padding-right: 50px;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 150px;
    color: var(--color-text);
    transition: 1s;
    border-radius: 100px;
    box-shadow: 0 0 0.2em 0 var(--color-background);
  }
  
  .btn-content:hover,
  .btn-content:focus {
    transition: 0.5s;
    -webkit-animation: btn-content 1s;
    animation: btn-content 1s;
    outline: 0.1em solid transparent;
    outline-offset: 0.2em;
    box-shadow: 0 0 0.4em 0 var(--color-background);
  }
  
  .btn-content .icon-arrow {
    transition: 0.5s;
    margin-right: 0px;
    transform: scale(1.6);
  }
  
  .btn-content:hover .icon-arrow {
    transition: 0.5s;
  }
  
  .icon-arrow {
    width: 20px;
    margin-left: 15px;
    position: relative;
    top: 6%;
  }
  
  /* SVG */
  #arrow-icon-one {
    transition: 0.4s;
    transform: translateX(-60%);
  }
  
  #arrow-icon-two {
    transition: 0.5s;
    transform: translateX(-30%);
  }
  
  .btn-content:hover #arrow-icon-three {
    animation: color_anim 1s infinite 0.2s;
  }
  
  .btn-content:hover #arrow-icon-one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
  }
  
  .btn-content:hover #arrow-icon-two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
  }
  
  /* SVG animations */
  @keyframes color_anim {
    0% {
      fill: white;
    }
  
    50% {
      fill: var(--color-background);
    }
  
    100% {
      fill: #E52072;
    }
  }
  
  /* Button animations */
  @-webkit-keyframes btn-content {
    0% {
      outline: 0.2em solid var(--color-background);
      outline-offset: 0;
    }
  }
  
  @keyframes btn-content {
    0% {
      outline: 0.2em solid var(--color-background);
      outline-offset: 0;
    }
  }


/* Bouton pour revenir en haut */
.buttonToTop {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0px 4px #2F348C;
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: absolute;
    right: 2%;
  }
  
  .svgIcon {
    width: 12px;
    transition-duration: 0.3s;
  }
  
  .svgIcon path {
    fill: #1479EA;
  }
  
  .buttonToTop:hover {
    width: 140px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: rgba(208,4,207,1);
    align-items: center;
    box-shadow: 0px 0px 0px 4px black;
  }
  
  .buttonToTop:hover .svgIcon {
    /* width: 20px; */
    transition-duration: 0.3s;
    transform: translateY(-200%);
  }
  
  .buttonToTop::before {
    position: absolute;
    bottom: -20px;
    content: "Retour à l'accueil";
    color: black;
    /* transition-duration: .3s; */
    font-size: 0px;
  }
  
  .buttonToTop:hover::before {
    font-size: 13px;
    opacity: 1;
    bottom: unset;
    /* transform: translateY(-30px); */
    transition-duration: 0.3s;
  }


  /* Menu nav hover animation */

  
  .btn {
    border: none;
    width: 10em;
    height: 3.3em;
    border-radius: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background: #1C1A1C;
    cursor: pointer;
    transition: all 450ms ease-in-out;
  }
  
  .sparkle {
    fill: #AAAAAA;
    transition: all 800ms ease;
  }
  
  .text {
    font-weight: 600;
    color: #fff;
    font-size: medium;
  }
  
  .btn:hover {
    background: linear-gradient(0deg,#A47CF3,#683FEA);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
    inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px 4px rgba(255, 255, 255, 0.2),
    0px 0px 180px 0px #9917FF;
    transform: translateY(-2px);
  }
  
  .btn:hover .text {
    color: white;
  }
  
  .btn:hover .sparkle {
    fill: white;
    transform: scale(1.2);
  } 
  
  

  .animated-button {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 16px 36px;
    border: 4px solid;
    border-color: transparent;
    font-size: 16px;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 600;
    color: #1479EA;
    box-shadow: 0 0 0 2px #1479EA;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button svg {
    position: absolute;
    width: 24px;
    fill: #fff;
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button .arr-1 {
    right: 16px;
  }
  
  .animated-button .arr-2 {
    left: -25%;
  }
  
  .animated-button .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: rgba(208,4,207,1);
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button .text {
    position: relative;
    z-index: 1;
    transform: translateX(-12px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button:hover {
    box-shadow: 0 0 0 12px transparent;
    color: #212121;
    border-radius: 12px;
  }
  
  .animated-button:hover .arr-1 {
    right: -25%;
  }
  
  .animated-button:hover .arr-2 {
    left: 16px;
  }
  
  .animated-button:hover .text {
    transform: translateX(12px);
  }
  
  .animated-button:hover svg {
    fill: #212121;
  }
  
  .animated-button:active {
    scale: 0.95;
    box-shadow: 0 0 0 4px #1479EA;
  }
  
  .animated-button:hover .circle {
    width: 220px;
    height: 220px;
    opacity: 1;
  }
a {
    text-decoration: none;
}  
#goYtb {
    position: fixed;
    left: 1%;
    bottom: 5%;
}

/* Carroussel des photos */

#photoContainer {
  margin-bottom: 25vh;
}

/* le framework de Noah */
.txt-ctr {
    text-align: center;
}

.dp-none {
    display: none;
}

.dp-block {
    display: block;
}

.clr-blk {
    color: black;
}
.clr-wte {
    color: white;
}

/* resoponsive web design */
@media screen and (max-width: 1088px) {
    .pAPropos {
        z-index: 5;
    }
}
@media screen and (max-width: 768px) {
  .animationCool {
      position: absolute;
      left: 8%;
      top: 45%;
  }
  #nav-1 ul{
    right: 1em;
    justify-content: end;
  }
  .btn {
    border: none;
    width: 8em;
    height: 3em;
    border-radius: 3em;
    gap: 12px;
  }
  .card {
    margin-bottom: 15%;
  }
}

@media screen and (max-width: 426px) {
  .pAPropos {
    max-width: 60%;
    z-index: 5;
    text-align: left;
  }
  .animationCool {
    position: absolute;
    left: 35%;
    top: 45%;
    z-index: 0;
  }
  .titrePage {
    margin-top: 30%;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 3.5em;
  }
  .btn-content {
    font-size: 150px;
    border-radius: 0px;
    padding-bottom: 220px;
  }
  #nav-1 ul{
    top: 5em;
    right: 1em;
    justify-content: end;
  }
  .btn {
    display: none;
  }
  #logoContainer {
    position: fixed;
    top: 1em;
    left: 1em;
    border-radius: 50%;
    background: rgba(202, 6, 255, 0.17);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.8px);
    -webkit-backdrop-filter: blur(5.8px);
    border: 1px solid rgba(202, 6, 255, 0.3);
    cursor: pointer;
    margin-left: 25%;
  }
  #logoContainer img {
    display: flex;
    align-items: center;
    transition: .2s;
    width: 100%;
  }
  #robin_pp {
    flex-direction: column-reverse;
    justify-content: center;
  }
  #arrowBottom {
      margin-top: 30vh;
  }
  .cardPP {
    margin-left: 20%;
  }
  .titrePage {
    text-align: center;
  }
}